@model List<AucklandTalyer.Models.Dto.CustomerIssueDto>


<div class="container mt-4">
    <h2 class="text-info">Customer Details</h2>

    <div class="border border-secondary p-3 col-3 mb-4">
        @foreach(var customer in Model)
        {
            <p><span class="text-info">Rego:</span><span class="fw-bold"> @customer.CarRego</span></p>
            <p><span class="text-info">Customer Name:</span><span class="fw-bold"> @customer.CustomerName</span></p>
            <p><span class="text-info">Car Make:</span><span class="fw-bold"> @customer.CarMake</span> </p>
            <p><span class="text-info">Car Model:</span><span class="fw-bold"> @customer.CarModel</span> </p>
            <p><span class="text-info">Payment Status:</span><span class="fw-bold"> @customer.PaymentStatus</span> </p>
        }
    </div>
    <div>
        <div class="row mb-2">
            <div class="col-6">
                <h3 class="text-info">Car Issue</h3>
            </div>
            <div class="col-6 text-end">
                
                   <a asp-controller="Issue" asp-action="Create" asp-route-Rego="@Model.FirstOrDefault().CarRego" class="btn btn-warning text-uppercase"><i class="bi bi-plus-circle"></i> Add Item</a>
                
            </div>
        </div>
            <table class="table table-bordered table-striped">
                <thead class="text-center align-middle">
                    <tr>
                        <th>Problem</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var issue in Model)
                {
                    <tr>
                        <td>@issue.IssueName</td>
                        <td>@issue.IssueDescription</td>
                    </tr>
                }
            </tbody>

            </table>
    </div>
        
    </div>

   
</div>
